In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('war_daily_bat.csv')

In [3]:
df.sample(10)

,name_common,age,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,PA,G,...,oppRpG_rep,pyth_exponent,pyth_exponent_rep,waa_win_perc,waa_win_perc_off,waa_win_perc_def,waa_win_perc_rep,OPS_plus,TOB_lg,TB_lg
13509,Fred Bruckbauer,23.0,111616.0,bruckfr01,1961,MIN,1,AL,0.0,1,...,4.56197,1.878,1.878,0.5000,0.5000,0.5000,0.5000,NaN,0.000,0.000
43988,Sammy Hale,24.0,115329.0,halesa01,1921,DET,1,AL,2.0,9,...,5.10317,1.933,1.939,0.4884,0.4884,0.5000,0.4992,-100.000000,0.728,0.838
103329,Hal Spindel,26.0,122600.0,spindha01,1939,SLB,1,AL,128.0,48,...,5.18196,1.949,1.952,0.4858,0.4858,0.5021,0.4911,59.296889,46.253,50.813
43513,Tony Gwynn,36.0,115270.0,gwynnto01,1996,SDP,1,NL,498.0,116,...,4.56266,1.897,1.886,0.5090,0.5067,0.4988,0.4865,128.450565,164.408,185.271
55408,Cobe Jones,23.0,116675.0,jonesco02,1929,PIT,1,NL,64.0,25,...,5.34116,1.965,1.968,0.4794,0.4867,0.4964,0.4928,52.762784,23.834,28.243
67845,Rube Marshall,21.0,118322.0,marshru01,1912,PHI,1,NL,0.0,2,...,4.63057,1.886,1.886,0.5000,0.5000,0.5000,0.5000,NaN,0.000,0.000
64442,George Lombard,22.0,136601.0,lombage01,1998,ATL,1,NL,6.0,6,...,4.57707,1.893,1.881,0.5328,0.5173,0.5147,0.4968,194.570092,2.037,2.546
15559,Miguel Cabrera,36.0,408234.0,cabremi01,2019,DET,1,AL,549.0,136,...,4.81142,1.914,1.915,0.4847,0.4854,0.4912,0.4858,96.565823,178.205,217.906
40471,Marwin Gonzalez,33.0,503556.0,gonzama01,2022,NYY,1,AL,207.0,85,...,4.16752,1.833,1.835,0.5019,0.4878,0.5130,0.4909,64.226380,63.118,72.091
114569,Buck Washer,22.0,123961.0,washebu01,1905,PHI,1,NL,1.0,1,...,4.09584,1.813,1.823,0.4787,0.4787,0.5000,0.4964,-100.000000,0.320,0.338

In [4]:
for col in df.columns:
    print(col)

name_common
age
mlb_ID
player_ID
year_ID
team_ID
stint_ID
lg_ID
PA
G
Inn
runs_bat
runs_br
runs_dp
runs_field
runs_infield
runs_outfield
runs_catcher
runs_good_plays
runs_defense
runs_position
runs_position_p
runs_replacement
runs_above_rep
runs_above_avg
runs_above_avg_off
runs_above_avg_def
WAA
WAA_off
WAA_def
WAR
WAR_def
WAR_off
WAR_rep
salary
pitcher
teamRpG
oppRpG
oppRpPA_rep
oppRpG_rep
pyth_exponent
pyth_exponent_rep
waa_win_perc
waa_win_perc_off
waa_win_perc_def
waa_win_perc_rep
OPS_plus
TOB_lg
TB_lg

In [5]:
df[['name_common', 'WAR']].sample(10)

             name_common   WAR
24921       Bill Dammann -0.17
85427      Jace Peterson -1.03
11133         Jack Boyle -1.78
71314       Ryan McGuire  0.11
106331     Jack Sutthoff -0.04
97374   Nate Schierholtz  0.45
12422       Doug Brocail  0.00
97287    Frank Scheibeck -0.17
49924      Aaron Holbert -0.09
118744       Nip Winters  0.93

In [6]:
df.count()

name_common           121375
age                   119987
mlb_ID                112987
player_ID             121375
year_ID               121375
team_ID               121375
stint_ID              121375
lg_ID                 120639
PA                    120573
G                     121375
Inn                    76467
runs_bat              121375
runs_br               121375
runs_dp               121375
runs_field            121375
runs_infield           76467
runs_outfield          76467
runs_catcher           76467
runs_good_plays        29475
runs_defense          121375
runs_position         120387
runs_position_p       121374
runs_replacement      120573
runs_above_rep        120387
runs_above_avg        120387
runs_above_avg_off    120387
runs_above_avg_def    120387
WAA                   111706
WAA_off               111706
WAA_def               111706
WAR                   110563
WAR_def               111706
WAR_off               110563
WAR_rep               110749
salary                 47946
pitcher               120232
teamRpG               111706
oppRpG                121375
oppRpPA_rep           121375
oppRpG_rep            111892
pyth_exponent         111706
pyth_exponent_rep     111892
waa_win_perc          111706
waa_win_perc_off      111706
waa_win_perc_def      111706
waa_win_perc_rep      111892
OPS_plus              101997
TOB_lg                121369
TB_lg                 121369
dtype: int64

In [11]:
df.loc[df['name_common'] == 'Aaron Judge'][['mlb_ID','player_ID', 'year_ID','name_common','team_ID','salary','pitcher','WAR']]

,mlb_ID,player_ID,year_ID,name_common,team_ID,salary,pitcher,WAR
56166,592450.0,judgeaa01,2016,Aaron Judge,NYY,NaN,N,-0.29
56167,592450.0,judgeaa01,2017,Aaron Judge,NYY,544500.0,N,7.99
56168,592450.0,judgeaa01,2018,Aaron Judge,NYY,622300.0,N,5.87
56169,592450.0,judgeaa01,2019,Aaron Judge,NYY,684300.0,N,5.61
56170,592450.0,judgeaa01,2020,Aaron Judge,NYY,8500000.0,N,1.14
56171,592450.0,judgeaa01,2021,Aaron Judge,NYY,10175000.0,N,6.07
56172,592450.0,judgeaa01,2022,Aaron Judge,NYY,19000000.0,N,10.60
56173,592450.0,judgeaa01,2023,Aaron Judge,NYY,40000000.0,N,2.31

In [8]:
df['year_ID'].max() - df['year_ID'].min()

152