In [2]:
import pandas as pd
import numpy as np

In [3]:
# Load data
df = pd.read_csv('war_daily_bat.csv')

In [4]:
# Columns to keep
cols_to_keep = ['name_common',
 'age',
 'mlb_ID',
 'player_ID',
 'year_ID',
 'team_ID',
 'stint_ID',
 'lg_ID',
 'PA',
 'G',
 'Inn', 'salary', 'OPS_plus', 'WAR', 'WAR_def', 'WAR_off', 'pitcher']

In [5]:
# Drop columns
df = df[cols_to_keep]

In [6]:
df.sample(5)

,name_common,age,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,PA,G,Inn,salary,OPS_plus,WAR,WAR_def,WAR_off,pitcher
73454,Eddie Miksis,24.0,119043.0,miksied01,1951,CHC,2,NL,461.0,102,NaN,NaN,75.926321,0.18,0.03,0.71,N
39699,Troy Glaus,32.0,136267.0,glaustr01,2009,STL,1,NL,32.0,14,50.7,12137000.0,32.066669,-0.20,0.00,-0.20,N
76161,Nyjer Morgan,28.0,460579.0,morgany01,2009,WSN,2,NL,212.0,49,391.0,NaN,120.789054,1.57,0.52,1.14,N
32670,Lenny Faedo,22.0,113969.0,faedole01,1982,MIN,1,AL,276.0,90,713.7,NaN,62.903114,0.44,0.49,0.50,N
117746,Poindexter Williams,35.0,NaN,willipo02,1933,HG,2,NN2,29.0,8,NaN,NaN,128.061041,0.31,0.12,0.21,N

In [7]:
# Joey Gallo and Steve Pearce
joey_pearce = df[(df['name_common'] == 'Joey Gallo') | (df['name_common'] == 'Steve Pearce')]
joey_pearce

,name_common,age,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,PA,G,Inn,salary,OPS_plus,WAR,WAR_def,WAR_off,pitcher
37260,Joey Gallo,21.0,608336.0,gallojo01,2015,TEX,1,AL,123.0,36,264.0,NaN,91.332137,0.32,0.07,0.21,N
37261,Joey Gallo,22.0,608336.0,gallojo01,2016,TEX,1,AL,30.0,17,72.0,NaN,-2.863830,-0.52,-0.24,-0.32,N
37262,Joey Gallo,23.0,608336.0,gallojo01,2017,TEX,1,AL,532.0,145,1208.0,537120.0,118.426407,2.92,-0.63,3.32,N
37263,Joey Gallo,24.0,608336.0,gallojo01,2018,TEX,1,AL,577.0,148,1199.0,560000.0,108.778664,2.41,-0.01,1.86,N
37264,Joey Gallo,25.0,608336.0,gallojo01,2019,TEX,1,AL,297.0,70,614.3,605500.0,144.925708,3.08,0.47,2.54,N
37265,Joey Gallo,26.0,608336.0,gallojo01,2020,TEX,1,AL,226.0,57,475.7,4400000.0,86.573416,1.51,1.11,0.20,N
37266,Joey Gallo,27.0,608336.0,gallojo01,2021,TEX,1,AL,388.0,95,810.7,6200000.0,137.655957,4.16,0.95,2.81,N
37267,Joey Gallo,27.0,608336.0,gallojo01,2021,NYY,2,AL,228.0,58,493.7,NaN,92.864584,0.45,-0.03,0.23,N
37268,Joey Gallo,28.0,608336.0,gallojo01,2022,NYY,1,AL,273.0,82,618.7,10275000.0,77.699297,0.04,-0.36,0.07,N
37269,Joey Gallo,28.0,608336.0,gallojo01,2022,LAD,2,NL,137.0,44,325.7,NaN,84.871679,0.19,0.23,-0.25,N
37270,Joey Gallo,29.0,608336.0,gallojo01,2023,MIN,1,AL,189.0,53,404.6,11000000.0,109.879519,0.37,-0.49,0.58,N
84036,Steve Pearce,24.0,456665.0,pearcst01,2007,PIT,1,NL,73.0,23,144.0,NaN,93.587563,0.42,0.32,0.02,N
84037,Steve Pearce,25.0,456665.0,pearcst01,2008,PIT,1,NL,119.0,37,230.3,NaN,88.934561,-0.18,-0.23,-0.06,N
84038,Steve Pearce,26.0,456665.0,pearcst01,2009,PIT,1,NL,186.0,60,371.0,407500.0,76.333740,0.01,0.05,-0.30,N
84039,Steve Pearce,27.0,456665.0,pearcst01,2010,PIT,1,NL,38.0,15,75.7,NaN,121.021655,0.30,0.05,0.19,N
84040,Steve Pearce,28.0,456665.0,pearcst01,2011,PIT,1,NL,105.0,50,172.6,427500.0,45.949621,-0.65,-0.10,-0.66,N
84041,Steve Pearce,29.0,456665.0,pearcst01,2012,BAL,1,AL,83.0,28,191.3,NaN,104.402861,0.40,0.07,0.21,N
84042,Steve Pearce,29.0,456665.0,pearcst01,2012,HOU,2,NL,75.0,21,146.6,NaN,90.585303,-0.08,-0.12,-0.09,N
84043,Steve Pearce,29.0,456665.0,pearcst01,2012,NYY,3,AL,30.0,12,74.0,NaN,58.931485,-0.07,-0.07,-0.06,N
84044,Steve Pearce,30.0,456665.0,pearcst01,2013,BAL,1,AL,138.0,44,323.3,700000.0,113.833226,0.70,-0.12,0.55,N
84045,Steve Pearce,31.0,456665.0,pearcst01,2014,BAL,1,AL,383.0,102,758.7,700000.0,156.956212,5.82,1.43,3.86,N
84046,Steve Pearce,32.0,456665.0,pearcst01,2015,BAL,1,AL,325.0,92,704.7,3700000.0,91.323827,0.02,-0.69,0.44,N
84047,Steve Pearce,33.0,456665.0,pearcst01,2016,TBR,1,AL,232.0,60,473.7,NaN,148.462640,2.20,-0.01,1.98,N
84048,Steve Pearce,33.0,456665.0,pearcst01,2016,BAL,2,AL,70.0,25,139.0,4750000.0,94.831260,-0.03,-0.42,0.28,N
84049,Steve Pearce,34.0,456665.0,pearcst01,2017,TOR,1,AL,348.0,92,710.0,6250000.0,99.269191,0.20,-0.85,0.71,N
84050,Steve Pearce,35.0,456665.0,pearcst01,2018,TOR,1,AL,86.0,26,180.0,NaN,136.016124,0.37,-0.52,0.76,N
84051,Steve Pearce,35.0,456665.0,pearcst01,2018,BOS,2,AL,165.0,50,324.0,6250000.0,141.349103,1.07,-0.44,1.24,N
84052,Steve Pearce,36.0,456665.0,pearcst01,2019,BOS,1,AL,99.0,29,210.0,6250000.0,31.235433,-0.59,-0.03,-0.70,N

In [8]:
# New dataframe for joey_pearce with player_ID, year_ID, and Team_ID only
joey_pearce_teams = joey_pearce[['player_ID', 'year_ID', 'team_ID']]
joey_pearce_teams

       player_ID  year_ID team_ID
37260  gallojo01     2015     TEX
37261  gallojo01     2016     TEX
37262  gallojo01     2017     TEX
37263  gallojo01     2018     TEX
37264  gallojo01     2019     TEX
37265  gallojo01     2020     TEX
37266  gallojo01     2021     TEX
37267  gallojo01     2021     NYY
37268  gallojo01     2022     NYY
37269  gallojo01     2022     LAD
37270  gallojo01     2023     MIN
84036  pearcst01     2007     PIT
84037  pearcst01     2008     PIT
84038  pearcst01     2009     PIT
84039  pearcst01     2010     PIT
84040  pearcst01     2011     PIT
84041  pearcst01     2012     BAL
84042  pearcst01     2012     HOU
84043  pearcst01     2012     NYY
84044  pearcst01     2013     BAL
84045  pearcst01     2014     BAL
84046  pearcst01     2015     BAL
84047  pearcst01     2016     TBR
84048  pearcst01     2016     BAL
84049  pearcst01     2017     TOR
84050  pearcst01     2018     TOR
84051  pearcst01     2018     BOS
84052  pearcst01     2019     BOS

In [9]:
# Group by player_ID and year_ID, keep only the first team_ID
joey_pearce_teams = joey_pearce_teams.groupby(['player_ID', 'year_ID']).first()
joey_pearce_teams

                  team_ID
player_ID year_ID
gallojo01 2015        TEX
          2016        TEX
          2017        TEX
          2018        TEX
          2019        TEX
          2020        TEX
          2021        TEX
          2022        NYY
          2023        MIN
pearcst01 2007        PIT
          2008        PIT
          2009        PIT
          2010        PIT
          2011        PIT
          2012        BAL
          2013        BAL
          2014        BAL
          2015        BAL
          2016        TBR
          2017        TOR
          2018        TOR
          2019        BOS

In [10]:
# group by name_common, age, year_ID, keep player_ID, team_ID
joey_pearce_group = joey_pearce.groupby(['name_common', 'age', 'year_ID', 'player_ID', 'pitcher']).sum().reset_index()
joey_pearce_group

C:\Users\Hector G. Guerrero\AppData\Local\Temp\ipykernel_14876\1023763875.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  joey_pearce_group = joey_pearce.groupby(['name_common', 'age', 'year_ID', 'player_ID', 'pitcher']).sum().reset_index()

,name_common,age,year_ID,player_ID,pitcher,mlb_ID,stint_ID,PA,G,Inn,salary,OPS_plus,WAR,WAR_def,WAR_off
0,Joey Gallo,21.0,2015,gallojo01,N,608336.0,1,123.0,36,264.0,0.0,91.332137,0.32,0.07,0.21
1,Joey Gallo,22.0,2016,gallojo01,N,608336.0,1,30.0,17,72.0,0.0,-2.863830,-0.52,-0.24,-0.32
2,Joey Gallo,23.0,2017,gallojo01,N,608336.0,1,532.0,145,1208.0,537120.0,118.426407,2.92,-0.63,3.32
3,Joey Gallo,24.0,2018,gallojo01,N,608336.0,1,577.0,148,1199.0,560000.0,108.778664,2.41,-0.01,1.86
4,Joey Gallo,25.0,2019,gallojo01,N,608336.0,1,297.0,70,614.3,605500.0,144.925708,3.08,0.47,2.54
5,Joey Gallo,26.0,2020,gallojo01,N,608336.0,1,226.0,57,475.7,4400000.0,86.573416,1.51,1.11,0.20
6,Joey Gallo,27.0,2021,gallojo01,N,1216672.0,3,616.0,153,1304.4,6200000.0,230.520541,4.61,0.92,3.04
7,Joey Gallo,28.0,2022,gallojo01,N,1216672.0,3,410.0,126,944.4,10275000.0,162.570976,0.23,-0.13,-0.18
8,Joey Gallo,29.0,2023,gallojo01,N,608336.0,1,189.0,53,404.6,11000000.0,109.879519,0.37,-0.49,0.58
9,Steve Pearce,24.0,2007,pearcst01,N,456665.0,1,73.0,23,144.0,0.0,93.587563,0.42,0.32,0.02
10,Steve Pearce,25.0,2008,pearcst01,N,456665.0,1,119.0,37,230.3,0.0,88.934561,-0.18,-0.23,-0.06
11,Steve Pearce,26.0,2009,pearcst01,N,456665.0,1,186.0,60,371.0,407500.0,76.333740,0.01,0.05,-0.30
12,Steve Pearce,27.0,2010,pearcst01,N,456665.0,1,38.0,15,75.7,0.0,121.021655,0.30,0.05,0.19
13,Steve Pearce,28.0,2011,pearcst01,N,456665.0,1,105.0,50,172.6,427500.0,45.949621,-0.65,-0.10,-0.66
14,Steve Pearce,29.0,2012,pearcst01,N,1369995.0,6,188.0,61,411.9,0.0,253.919650,0.25,-0.12,0.06
15,Steve Pearce,30.0,2013,pearcst01,N,456665.0,1,138.0,44,323.3,700000.0,113.833226,0.70,-0.12,0.55
16,Steve Pearce,31.0,2014,pearcst01,N,456665.0,1,383.0,102,758.7,700000.0,156.956212,5.82,1.43,3.86
17,Steve Pearce,32.0,2015,pearcst01,N,456665.0,1,325.0,92,704.7,3700000.0,91.323827,0.02,-0.69,0.44
18,Steve Pearce,33.0,2016,pearcst01,N,913330.0,3,302.0,85,612.7,4750000.0,243.293900,2.17,-0.43,2.26
19,Steve Pearce,34.0,2017,pearcst01,N,456665.0,1,348.0,92,710.0,6250000.0,99.269191,0.20,-0.85,0.71
20,Steve Pearce,35.0,2018,pearcst01,N,913330.0,3,251.0,76,504.0,6250000.0,277.365227,1.44,-0.96,2.00
21,Steve Pearce,36.0,2019,pearcst01,N,456665.0,1,99.0,29,210.0,6250000.0,31.235433,-0.59,-0.03,-0.70

In [11]:
# Join joey_pearce_group and joey_pearce_teams on player_ID and year_ID
joey_pearce_join = joey_pearce_group.merge(joey_pearce_teams, on=['player_ID', 'year_ID'])
joey_pearce_join

,name_common,age,year_ID,player_ID,pitcher,mlb_ID,stint_ID,PA,G,Inn,salary,OPS_plus,WAR,WAR_def,WAR_off,team_ID
0,Joey Gallo,21.0,2015,gallojo01,N,608336.0,1,123.0,36,264.0,0.0,91.332137,0.32,0.07,0.21,TEX
1,Joey Gallo,22.0,2016,gallojo01,N,608336.0,1,30.0,17,72.0,0.0,-2.863830,-0.52,-0.24,-0.32,TEX
2,Joey Gallo,23.0,2017,gallojo01,N,608336.0,1,532.0,145,1208.0,537120.0,118.426407,2.92,-0.63,3.32,TEX
3,Joey Gallo,24.0,2018,gallojo01,N,608336.0,1,577.0,148,1199.0,560000.0,108.778664,2.41,-0.01,1.86,TEX
4,Joey Gallo,25.0,2019,gallojo01,N,608336.0,1,297.0,70,614.3,605500.0,144.925708,3.08,0.47,2.54,TEX
5,Joey Gallo,26.0,2020,gallojo01,N,608336.0,1,226.0,57,475.7,4400000.0,86.573416,1.51,1.11,0.20,TEX
6,Joey Gallo,27.0,2021,gallojo01,N,1216672.0,3,616.0,153,1304.4,6200000.0,230.520541,4.61,0.92,3.04,TEX
7,Joey Gallo,28.0,2022,gallojo01,N,1216672.0,3,410.0,126,944.4,10275000.0,162.570976,0.23,-0.13,-0.18,NYY
8,Joey Gallo,29.0,2023,gallojo01,N,608336.0,1,189.0,53,404.6,11000000.0,109.879519,0.37,-0.49,0.58,MIN
9,Steve Pearce,24.0,2007,pearcst01,N,456665.0,1,73.0,23,144.0,0.0,93.587563,0.42,0.32,0.02,PIT
10,Steve Pearce,25.0,2008,pearcst01,N,456665.0,1,119.0,37,230.3,0.0,88.934561,-0.18,-0.23,-0.06,PIT
11,Steve Pearce,26.0,2009,pearcst01,N,456665.0,1,186.0,60,371.0,407500.0,76.333740,0.01,0.05,-0.30,PIT
12,Steve Pearce,27.0,2010,pearcst01,N,456665.0,1,38.0,15,75.7,0.0,121.021655,0.30,0.05,0.19,PIT
13,Steve Pearce,28.0,2011,pearcst01,N,456665.0,1,105.0,50,172.6,427500.0,45.949621,-0.65,-0.10,-0.66,PIT
14,Steve Pearce,29.0,2012,pearcst01,N,1369995.0,6,188.0,61,411.9,0.0,253.919650,0.25,-0.12,0.06,BAL
15,Steve Pearce,30.0,2013,pearcst01,N,456665.0,1,138.0,44,323.3,700000.0,113.833226,0.70,-0.12,0.55,BAL
16,Steve Pearce,31.0,2014,pearcst01,N,456665.0,1,383.0,102,758.7,700000.0,156.956212,5.82,1.43,3.86,BAL
17,Steve Pearce,32.0,2015,pearcst01,N,456665.0,1,325.0,92,704.7,3700000.0,91.323827,0.02,-0.69,0.44,BAL
18,Steve Pearce,33.0,2016,pearcst01,N,913330.0,3,302.0,85,612.7,4750000.0,243.293900,2.17,-0.43,2.26,TBR
19,Steve Pearce,34.0,2017,pearcst01,N,456665.0,1,348.0,92,710.0,6250000.0,99.269191,0.20,-0.85,0.71,TOR
20,Steve Pearce,35.0,2018,pearcst01,N,913330.0,3,251.0,76,504.0,6250000.0,277.365227,1.44,-0.96,2.00,TOR
21,Steve Pearce,36.0,2019,pearcst01,N,456665.0,1,99.0,29,210.0,6250000.0,31.235433,-0.59,-0.03,-0.70,BOS

---

---

In [12]:
# New dataframe for df with player_ID, year_ID, and Team_ID only
df_teams = df[['player_ID', 'year_ID', 'team_ID', 'stint_ID']]
df_teams.shape

(121375, 4)

In [13]:
df_teams.head()

   player_ID  year_ID team_ID  stint_ID
0  aardsda01     2004     SFG         1
1  aardsda01     2006     CHC         1
2  aardsda01     2007     CHW         1
3  aardsda01     2008     BOS         1
4  aardsda01     2009     SEA         1

In [14]:
# drop rows with stint_ID > 1
df_teams = df_teams[df_teams['stint_ID'] == 1]

In [15]:
# drop stint_ID column
df_teams = df_teams.drop('stint_ID', axis=1)

In [16]:
# group by name_common, age, year_ID, keep player_ID, team_ID, df
df_group = df.groupby(['name_common', 'age', 'year_ID', 'player_ID', 'pitcher']).sum().reset_index()

C:\Users\Hector G. Guerrero\AppData\Local\Temp\ipykernel_14876\4279120906.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_group = df.groupby(['name_common', 'age', 'year_ID', 'player_ID', 'pitcher']).sum().reset_index()

In [17]:
df_group.shape

(109868, 15)

In [18]:
df_group.sample(10)

,name_common,age,year_ID,player_ID,pitcher,mlb_ID,stint_ID,PA,G,Inn,salary,OPS_plus,WAR,WAR_def,WAR_off
31411,Doug Nickle,25.0,2000,nickldo01,Y,276518.0,1,0.0,4,2.7,0.0,0.000000,0.00,0.00,0.00
29698,Dixie Walker,28.0,1939,walkedi02,N,247640.0,3,430.0,104,0.0,10000.0,193.880614,1.39,0.05,1.14
50803,Jake Dunn,24.0,1934,dunnja02,N,0.0,0,263.0,69,0.0,0.0,104.413703,0.74,-0.29,0.77
45131,Hank Foiles,31.0,1960,foileha01,N,342834.0,6,147.0,56,314.3,0.0,388.168446,0.71,0.49,0.44
14766,Bruce Ruffin,33.0,1997,ruffibr01,Y,121545.0,1,0.0,23,22.0,0.0,0.000000,0.00,-0.01,0.00
54843,Jim Barr,26.0,1974,barrji01,Y,110604.0,1,82.0,56,239.7,0.0,76.032530,0.44,0.01,0.43
87442,Ray Brown,24.0,1932,brownra99,Y,506627.0,2,83.0,24,0.0,0.0,81.248589,0.12,-0.11,0.20
23208,Curt Flood,27.0,1965,floodcu01,N,114248.0,1,683.0,156,1354.3,35000.0,114.003281,4.71,-0.21,4.89
90353,Rob Refsnyder,31.0,2022,refsnro01,N,608701.0,1,177.0,57,365.7,100000.0,141.962050,0.90,-0.71,1.46
106967,Warren Cromartie,26.0,1980,cromawa01,N,112845.0,1,657.0,162,1405.3,0.0,115.878252,1.55,-1.06,1.56

In [19]:
# Join df_group and df_teams on player_ID and year_ID
df_join = df_group.merge(df_teams, on=['player_ID', 'year_ID'])

In [20]:
df_join.shape

(104096, 16)

In [21]:
# Joey Gallo and Steve Pearce from df_join
df_join[(df_join['name_common'] == 'Joey Gallo') | (df_join['name_common'] == 'Steve Pearce')]

,name_common,age,year_ID,player_ID,pitcher,mlb_ID,stint_ID,PA,G,Inn,salary,OPS_plus,WAR,WAR_def,WAR_off,team_ID
56800,Joey Gallo,21.0,2015,gallojo01,N,608336.0,1,123.0,36,264.0,0.0,91.332137,0.32,0.07,0.21,TEX
56801,Joey Gallo,22.0,2016,gallojo01,N,608336.0,1,30.0,17,72.0,0.0,-2.863830,-0.52,-0.24,-0.32,TEX
56802,Joey Gallo,23.0,2017,gallojo01,N,608336.0,1,532.0,145,1208.0,537120.0,118.426407,2.92,-0.63,3.32,TEX
56803,Joey Gallo,24.0,2018,gallojo01,N,608336.0,1,577.0,148,1199.0,560000.0,108.778664,2.41,-0.01,1.86,TEX
56804,Joey Gallo,25.0,2019,gallojo01,N,608336.0,1,297.0,70,614.3,605500.0,144.925708,3.08,0.47,2.54,TEX
56805,Joey Gallo,26.0,2020,gallojo01,N,608336.0,1,226.0,57,475.7,4400000.0,86.573416,1.51,1.11,0.20,TEX
56806,Joey Gallo,27.0,2021,gallojo01,N,1216672.0,3,616.0,153,1304.4,6200000.0,230.520541,4.61,0.92,3.04,TEX
56807,Joey Gallo,28.0,2022,gallojo01,N,1216672.0,3,410.0,126,944.4,10275000.0,162.570976,0.23,-0.13,-0.18,NYY
56808,Joey Gallo,29.0,2023,gallojo01,N,608336.0,1,189.0,53,404.6,11000000.0,109.879519,0.37,-0.49,0.58,MIN
93510,Steve Pearce,24.0,2007,pearcst01,N,456665.0,1,73.0,23,144.0,0.0,93.587563,0.42,0.32,0.02,PIT
93511,Steve Pearce,25.0,2008,pearcst01,N,456665.0,1,119.0,37,230.3,0.0,88.934561,-0.18,-0.23,-0.06,PIT
93512,Steve Pearce,26.0,2009,pearcst01,N,456665.0,1,186.0,60,371.0,407500.0,76.333740,0.01,0.05,-0.30,PIT
93513,Steve Pearce,27.0,2010,pearcst01,N,456665.0,1,38.0,15,75.7,0.0,121.021655,0.30,0.05,0.19,PIT
93514,Steve Pearce,28.0,2011,pearcst01,N,456665.0,1,105.0,50,172.6,427500.0,45.949621,-0.65,-0.10,-0.66,PIT
93515,Steve Pearce,29.0,2012,pearcst01,N,1369995.0,6,188.0,61,411.9,0.0,253.919650,0.25,-0.12,0.06,BAL
93516,Steve Pearce,30.0,2013,pearcst01,N,456665.0,1,138.0,44,323.3,700000.0,113.833226,0.70,-0.12,0.55,BAL
93517,Steve Pearce,31.0,2014,pearcst01,N,456665.0,1,383.0,102,758.7,700000.0,156.956212,5.82,1.43,3.86,BAL
93518,Steve Pearce,32.0,2015,pearcst01,N,456665.0,1,325.0,92,704.7,3700000.0,91.323827,0.02,-0.69,0.44,BAL
93519,Steve Pearce,33.0,2016,pearcst01,N,913330.0,3,302.0,85,612.7,4750000.0,243.293900,2.17,-0.43,2.26,TBR
93520,Steve Pearce,34.0,2017,pearcst01,N,456665.0,1,348.0,92,710.0,6250000.0,99.269191,0.20,-0.85,0.71,TOR
93521,Steve Pearce,35.0,2018,pearcst01,N,913330.0,3,251.0,76,504.0,6250000.0,277.365227,1.44,-0.96,2.00,TOR
93522,Steve Pearce,36.0,2019,pearcst01,N,456665.0,1,99.0,29,210.0,6250000.0,31.235433,-0.59,-0.03,-0.70,BOS