In [2]:
import pandas as pd

In [19]:
df = pd.read_csv('war_daily_bat.csv')

In [20]:
df.sample(10)

,name_common,age,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,PA,G,...,oppRpG_rep,pyth_exponent,pyth_exponent_rep,waa_win_perc,waa_win_perc_off,waa_win_perc_def,waa_win_perc_rep,OPS_plus,TOB_lg,TB_lg
92942,David Ross,33.0,424325.0,rossda01,2010,ATL,1,NL,145.0,59,...,4.30460,1.863,1.852,0.5129,0.5111,0.5062,0.4918,136.090565,47.090,49.501
24460,Eggie Dallard,27.0,NaN,dallaeg01,1926,BBS,1,ECL,133.0,37,...,5.26521,1.962,1.963,0.4923,0.4873,0.5021,0.4886,69.544411,45.227,40.428
37841,Rich Gedman,29.0,114676.0,gedmari01,1989,BOS,1,AL,289.0,93,...,4.21149,1.840,1.842,0.4819,0.4842,0.5032,0.4880,55.430053,95.724,102.778
106361,Fred Tenney,30.0,123188.0,tennefr02,1902,BSN,1,NL,594.0,134,...,3.87861,1.822,1.802,0.5228,0.5186,0.5011,0.4842,141.909132,182.404,160.392
78471,Trot Nixon,31.0,119811.0,nixontr01,2005,BOS,1,AL,470.0,124,...,4.57505,1.897,1.888,0.5134,0.5028,0.5071,0.4856,109.466890,157.967,176.501
114510,Earl Whitehill,37.0,124200.0,whiteea01,1936,WSH,1,AL,90.0,28,...,5.63282,2.002,2.000,0.4934,0.4934,0.5000,0.4899,13.223980,31.059,32.887
30500,Ben Egan,24.0,113766.0,eganbe01,1908,PHA,1,AL,7.0,2,...,3.30973,1.733,1.723,0.5019,0.5019,0.5075,0.4840,95.965605,2.171,1.926
10445,Akeem Bostick,26.0,641384.0,bostiak01,2021,NYM,1,NL,0.0,1,...,4.57192,1.879,1.879,0.5000,0.5000,0.5000,0.5000,NaN,0.000,0.000
112000,Rube Walker,30.0,123811.0,walkeru01,1956,BRO,1,NL,156.0,54,...,4.16962,1.830,1.837,0.4755,0.4755,0.5034,0.4882,47.525027,53.088,63.203
60690,Barry Latman,29.0,117533.0,latmaba01,1965,CAL,1,AL,2.0,18,...,3.93583,1.800,1.801,0.4983,0.4983,0.5000,0.4996,-100.000000,0.633,0.758

In [11]:
for col in df.columns:
    print(col)

name_common
age
mlb_ID
player_ID
year_ID
team_ID
stint_ID
lg_ID
PA
G
Inn
runs_bat
runs_br
runs_dp
runs_field
runs_infield
runs_outfield
runs_catcher
runs_good_plays
runs_defense
runs_position
runs_position_p
runs_replacement
runs_above_rep
runs_above_avg
runs_above_avg_off
runs_above_avg_def
WAA
WAA_off
WAA_def
WAR
WAR_def
WAR_off
WAR_rep
salary
pitcher
teamRpG
oppRpG
oppRpPA_rep
oppRpG_rep
pyth_exponent
pyth_exponent_rep
waa_win_perc
waa_win_perc_off
waa_win_perc_def
waa_win_perc_rep
OPS_plus
TOB_lg
TB_lg

In [21]:
df[['name_common', 'WAR']].sample(10)

           name_common   WAR
1526        Mel Almada -0.25
108710      Hal Trosky  0.52
113418      Eric Wedge -0.03
80466     Jesse Orosco  0.27
66096     Clyde Manion  0.19
105432    Frank Tanana   NaN
78126       TomÃ¡s Nido  0.35
52142   Darrin Jackson  0.55
99258   Grady Sizemore  2.20
14649     Bill Burwell  0.01

In [54]:
df.count()

name_common           119570
age                   118096
mlb_ID                111196
player_ID             119570
year_ID               119570
team_ID               119570
stint_ID              119570
lg_ID                 118834
PA                    119564
G                     119570
Inn                    74678
runs_bat              119570
runs_br               119570
runs_dp               119570
runs_field            119570
runs_infield           74678
runs_outfield          74678
runs_catcher           74678
runs_good_plays        27686
runs_defense          119570
runs_position         119373
runs_position_p       119566
runs_replacement      119564
runs_above_rep        119373
runs_above_avg        119373
runs_above_avg_off    119373
runs_above_avg_def    119373
WAA                   110697
WAA_off               110697
WAA_def               110697
WAR                   109563
WAR_def               110697
WAR_off               109563
WAR_rep               109753
salary                 47190
pitcher               118436
teamRpG               110697
oppRpG                119570
oppRpPA_rep           119570
oppRpG_rep            110887
pyth_exponent         110697
pyth_exponent_rep     110887
waa_win_perc          110697
waa_win_perc_off      110697
waa_win_perc_def      110697
waa_win_perc_rep      110887
OPS_plus              101125
TOB_lg                119564
TB_lg                 119564
dtype: int64

In [94]:
df.loc[df['name_common'] == 'Vladimir Guerrero Jr.'][['year_ID','name_common','team_ID','salary','pitcher','WAR']]

       year_ID            name_common team_ID     salary pitcher   WAR
42334     2019  Vladimir Guerrero Jr.     TOR        NaN       N  2.09
42335     2020  Vladimir Guerrero Jr.     TOR        NaN       N  0.57
42336     2021  Vladimir Guerrero Jr.     TOR        NaN       N  6.81
42337     2022  Vladimir Guerrero Jr.     TOR  7900000.0       N  1.05

In [70]:
df['year_ID'].max() - df['year_ID'].min()

151